name: Project 1
on:
  pull_request:
    branches:
      - "master"
    paths:
      - "projects/project_1/**"
jobs:
  project_1:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: test
        run: |
          echo "I am project 0 and I will always fail."
          exit 1